body {
    width: 120%;
  }
  table{
      width: 50%;
      border-collapse: collapse;
    font-size: 32px;
  }
  
  table th, table td {
      border: 2px solid rgb(114, 99, 99);
      padding: 8px;
  }
  
  table th {
    background-color: #9e7d7d;
  }
  .center {
    text-align: center;
  }